![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [185]:
# Import necessary packages
import pandas as pd
import numpy as np

# Begin coding here ...
# Use as many cells as you like

# Loading the data

In [186]:
df_csv = pd.read_csv('data/airbnb_price.csv')
df_xlsx = pd.read_excel('data/airbnb_room_type.xlsx')
df_tsv = pd.read_csv('data/airbnb_last_review.tsv', sep='\t')

In [187]:
df_csv.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [188]:
df_tsv.head()

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [189]:
df_xlsx.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

# Merging the three DataFrames

In [190]:
df = pd.merge(df_tsv, df_xlsx, on='listing_id')

In [191]:
df = pd.merge(df, df_csv, on='listing_id')

In [192]:
df.head()

   listing_id    host_name  ...        price                nbhood_full
0        2595     Jennifer  ...  225 dollars         Manhattan, Midtown
1        3831  LisaRoxanne  ...   89 dollars     Brooklyn, Clinton Hill
2        5099        Chris  ...  200 dollars     Manhattan, Murray Hill
3        5178     Shunichi  ...   79 dollars  Manhattan, Hell's Kitchen
4        5238          Ben  ...  150 dollars       Manhattan, Chinatown

[5 rows x 7 columns]

# Determining the earliest and most recent review dates

In [193]:
df.dtypes

listing_id      int64
host_name      object
last_review    object
description    object
room_type      object
price          object
nbhood_full    object
dtype: object

In [194]:
df['last_review'] = pd.to_datetime(df['last_review'], format='%B %d %Y')

In [195]:
df.head()

   listing_id    host_name  ...        price                nbhood_full
0        2595     Jennifer  ...  225 dollars         Manhattan, Midtown
1        3831  LisaRoxanne  ...   89 dollars     Brooklyn, Clinton Hill
2        5099        Chris  ...  200 dollars     Manhattan, Murray Hill
3        5178     Shunichi  ...   79 dollars  Manhattan, Hell's Kitchen
4        5238          Ben  ...  150 dollars       Manhattan, Chinatown

[5 rows x 7 columns]

In [196]:
#df['last_review'] = df['last_review'].dt.strftime('%d-%m-%Y')

In [197]:
earliest_date=df['last_review'].min()
earliest_date

Timestamp('2019-01-01 00:00:00')

In [198]:
recent_date=df['last_review'].max()
recent_date

Timestamp('2019-07-09 00:00:00')

# Finding how many listings are private rooms

In [199]:
df.head()

   listing_id    host_name  ...        price                nbhood_full
0        2595     Jennifer  ...  225 dollars         Manhattan, Midtown
1        3831  LisaRoxanne  ...   89 dollars     Brooklyn, Clinton Hill
2        5099        Chris  ...  200 dollars     Manhattan, Murray Hill
3        5178     Shunichi  ...   79 dollars  Manhattan, Hell's Kitchen
4        5238          Ben  ...  150 dollars       Manhattan, Chinatown

[5 rows x 7 columns]

In [200]:
df['room_type'].unique()

array(['Entire home/apt', 'private room', 'Private room',
       'entire home/apt', 'PRIVATE ROOM', 'shared room',
       'ENTIRE HOME/APT', 'Shared room', 'SHARED ROOM'], dtype=object)

In [201]:
df['room_type'] = df['room_type'].str.lower()

In [202]:
df['room_type'].unique()

array(['entire home/apt', 'private room', 'shared room'], dtype=object)

In [203]:
private_room=df['room_type'].value_counts().loc['private room']
private_room

11356

# Finding the average price of listings

In [204]:
df.head()

   listing_id    host_name  ...        price                nbhood_full
0        2595     Jennifer  ...  225 dollars         Manhattan, Midtown
1        3831  LisaRoxanne  ...   89 dollars     Brooklyn, Clinton Hill
2        5099        Chris  ...  200 dollars     Manhattan, Murray Hill
3        5178     Shunichi  ...   79 dollars  Manhattan, Hell's Kitchen
4        5238          Ben  ...  150 dollars       Manhattan, Chinatown

[5 rows x 7 columns]

In [205]:
df['price'] = df['price'].str.replace(' dollars', '')

In [206]:
df['price'] = df['price'].astype(float)

In [207]:
df.dtypes

listing_id              int64
host_name              object
last_review    datetime64[ns]
description            object
room_type              object
price                 float64
nbhood_full            object
dtype: object

In [208]:
average_listing_price=df['price'].mean().round(2)
average_listing_price

141.78

# Creating a DataFrame with the four solution values

In [209]:
review_dict = {
    'first_reviewed' : earliest_date,
    'last_reviewed' : recent_date,
    'nb_private_rooms' : private_room,
    'avg_price' : average_listing_price,
}
review_dict

{'first_reviewed': Timestamp('2019-01-01 00:00:00'),
 'last_reviewed': Timestamp('2019-07-09 00:00:00'),
 'nb_private_rooms': 11356,
 'avg_price': 141.78}

In [210]:
review_dates = pd.DataFrame(review_dict, index=[0])

In [211]:
review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78